[package]
name = "faketty"
version = "1.0.0"
authors = ["David Tolnay <dtolnay@gmail.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
description = "Wrapper to exec a command in a pty, even if redirecting the output"
repository = "https://github.com/dtolnay/faketty"
readme = "README.md"

[dependencies]
clap = "2.33"
nix = "0.18"

[dev-dependencies]
scratch = "1.0"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
